.companyContainer {
  color: white;
  background-color: #202020;
  border-radius: 20px;
}

.companyLogoStyling {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 10px;
}
