.overAllJobsContainer {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 100vw;
}

.leftContainer {
  width: 40%;
  background-color: orange;
  align-self: stretch;
  padding-left: 20px;
}

.rightContainer {
  width: 60%;
  background-color: pink;
  align-self: stretch;
}

.userDetailsContainer {
  height: 200px;
  width: 60%;
  background-color: red;
  color: white;
}

.profileImgStyling {
  height: 40px;
  width: 40px;
  border-radius: 30px;
}
