.HomeContainer {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  height: 100vh;
}
.HomeContainer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.HomeContainer h1 {
  color: white;
  font-size: 40px;
}

.HomeContainer p {
  color: white;
}
