.homeStyling {
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
}

.homeBuuttonStyling {
  height: 50px;
  width: 100px;
  border-radius: 20px;
  background-color: #6366f1;
}
