.homeStyling {
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}

.homebuuttonstyling {
  height: 50px;
  width: 100px;
  border-radius: 20px;
  background-color: #6366f1;
  font-size: 20px;
  color: white;
  border: none;
}

.homeStyling button :hover {
  background-color: black;
  border: 3px solid #6366f1;
  color: #6366f1;
}

.lonkStyling {
  background-color: none;
  color: inherit;
}

@media (min-width: 0px) and (max-width: 768px) {
  .homeStyling {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
    background-size: cover;
    justify-content: flex-start;
  }
}
