.NavBarContainerForLargeDevices {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #202020;
  width: 100%;
}

.NavBarContainerForSmallMediumDevices {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
<<<<<<< HEAD
  background-color: #6366f1;
  box-sizing: content-box;
=======
  background-color: #202020;
  box-sizing: border-box;
  width: 100%;
>>>>>>> 360831ceececa72be817a0a9eebed494149c3f16
}

.navbarButtonStyling {
  height: 50px;
  width: 70px;
  margin: 3px;
  padding: 2px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  border-radius: 3px;
}
.navbarButtonStyling:hover {
  background-color: #4f46e5;
  border-radius: 10px;
}

.navbarNavigationList {
  list-style-type: none;
  display: flex;
}
.headerLinksStyling {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbarNavigationList li {
  margin-left: 15px;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-between;
}

/* .websiteLogoLink {
  width: 20%;
  height: 90%;
} */

.appLogo {
  min-width: 40%;
  width: 60%;
  max-width: 90%;
  height: 100%;
  flex-shrink: 3;
}

@media (min-width: 0px) and (max-width: 768px) {
  .NavBarContainerForLargeDevices {
    display: none;
  }
  .iconsStyling {
    height: 30px;
    width: 30px;
  }
  .NavBarContainerForSmallMediumDevices {
    background-color: #202020;
    color: white;
    border: none;
    display: flex;
    column-width: 10%;
    width: 100%;
  }
}

@media (min-width: 769px) {
  .NavBarContainerForSmallMediumDevices {
    display: none;
  }
}
