.eachJobDetailsContainer {
  background-color: black;
  padding: 30px;
}
.eachJobDetailedUpperContainer {
  background-color: #202020;
  color: white;
  padding: 10px;
  border-radius: 20px;
}

.companyContainer {
  display: flex;
  justify-content: flex-start;
  background-color: white;
}

.companyLogoStyling {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 10px;
}

.location-type-lpa-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.hrLineStyling {
  border-top: 2px solid black;
  width: 100%;
  margin: 10px 0;
}

.lifeAtCompanyContainer {
  display: flex;
  flex-direction: column;
  color: white;
}
.detailsContainer {
  color: white;
}

.lifeAtCompanyImageStyling {
  height: 140px;
  width: 180px;
  color: white;
}

.similarJobsContainer {
  background-color: transparent;
}

.similarJobsContainer ul {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.similarJobsContainer h1 {
  color: white;
}

.skillsContainerUl {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  column-gap: 10px;
}
